
@{
    ViewBag.Title = "Kids";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--            main banner start-->
<!--            main banner start-->

<div class="main-banner">
    <div class="container">
        <div class="row no-gutter">
            <div class="col-md-12">
                <img src="~/img/banner/kids.jpg" class="img-responsive" alt="">
            </div>
        </div>
    </div>
</div>

<!--            main banner end-->
<!--            main banner end-->

<div class="men-category">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="categories">
                    <ul>
                        <li><a href="#"><div class="category-btn-selected">Formal</div></a></li>
                        <li><a href="#"><div class="category-btn">Casual</div></a></li>
                        <li><a href="#"><div class="category-btn">Sport</div></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--            category buttons end-->
<!--            category buttons end-->
<div class="product-list-row-1">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <div class="product1">
                    <div class="product card">
                        <div class="product-image">
                            <div class="hovereffect">
                                <img class="img-responsive" src="~/img/product_image/product1.jpg" alt="">
                                <div class="overlay">
                                    <a class="info" href="product_details.html">VIEW DETAILS</a>
                                </div>
                            </div>
                        </div>
                        <div class="product-details">
                            <div class="product-title">
                                <p>MEN CASUAL</p>
                                <h3>HUSH PUPPIES</h3>
                            </div>
                            <div class="product-price">
                                <p><b>TK</b> &nbsp 1050</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="product2 product1">
                    <div class="product card">
                        <div class="product-image">
                            <div class="hovereffect">
                                <img class="img-responsive" src="~/img/product_image/product2.jpg" alt="">
                                <div class="overlay">
                                    <a class="info" href="product_details.html">VIEW DETAILS</a>
                                </div>
                            </div>
                        </div>
                        <div class="product-details">
                            <div class="product-title">
                                <p>WOMEN LUXURY</p>
                                <h3>JENNYS</h3>
                            </div>
                            <div class="product-price">
                                <p><b>TK</b> &nbsp 1270</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="product3 product1">
                    <div class="product card">
                        <div class="product-image">
                            <div class="hovereffect">
                                <img class="img-responsive" src="~/img/product_image/product3.jpg" alt="">
                                <div class="overlay">
                                    <a class="info" href="product_details.html">VIEW DETAILS</a>
                                </div>
                            </div>
                        </div>
                        <div class="product-details">
                            <div class="product-title">
                                <p>SPORT SHOE</p>
                                <h3>NIKE</h3>
                            </div>
                            <div class="product-price">
                                <p><b>TK</b> &nbsp 1120</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><div class="col-md-3 col-sm-4">
                <div class="product4 product1">
                    <div class="product card">
                        <div class="product-image">
                            <div class="hovereffect">
                                <img class="img-responsive" src="~/img/product_image/product4.jpg" alt="">
                                <div class="overlay">
                                    <a class="info" href="product_details.html">VIEW DETAILS</a>
                                </div>
                            </div>
                        </div>
                        <div class="product-details">
                            <div class="product-title">
                                <p>SPORT SHOE</p>
                                <h3>NIKE</h3>
                            </div>
                            <div class="product-price">
                                <p><b>TK</b> &nbsp 1120</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-4">
                <div class="product5 product1">
                    <div class="product card">
                        <div class="product-image">
                            <div class="hovereffect">
                                <img class="img-responsive" src="~/img/product_image/product1.jpg" alt="">
                                <div class="overlay">
                                    <a class="info" href="product_details.html">VIEW DETAILS</a>
                                </div>
                            </div>
                        </div>
                        <div class="product-details">
                            <div class="product-title">
                                <p>MEN CASUAL</p>
                                <h3>HUSH PUPPIES</h3>
                            </div>
                            <div class="product-price">
                                <p><b>TK</b> &nbsp 1050</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="product6 product1">
                    <div class="product card">
                        <div class="product-image">
                            <div class="hovereffect">
                                <img class="img-responsive" src="~/img/product_image/product2.jpg" alt="">
                                <div class="overlay">
                                    <a class="info" href="product_details.html">VIEW DETAILS</a>
                                </div>
                            </div>
                        </div>
                        <div class="product-details">
                            <div class="product-title">
                                <p>WOMEN LUXURY</p>
                                <h3>JENNYS</h3>
                            </div>
                            <div class="product-price">
                                <p><b>TK</b> &nbsp 1270</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="product7 product1">
                    <div class="product card">
                        <div class="product-image">
                            <div class="hovereffect">
                                <img class="img-responsive" src="~/img/product_image/product3.jpg" alt="">
                                <div class="overlay">
                                    <a class="info" href="product_details.html">VIEW DETAILS</a>
                                </div>
                            </div>
                        </div>
                        <div class="product-details">
                            <div class="product-title">
                                <p>SPORT SHOE</p>
                                <h3>NIKE</h3>
                            </div>
                            <div class="product-price">
                                <p><b>TK</b> &nbsp 1120</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><div class="col-md-3 col-sm-4">
                <div class="product8 product1">
                    <div class="product card">
                        <div class="product-image">
                            <div class="hovereffect">
                                <img class="img-responsive" src="~/img/product_image/product4.jpg" alt="">
                                <div class="overlay">
                                    <a class="info" href="product_details.html">VIEW DETAILS</a>
                                </div>
                            </div>
                        </div>
                        <div class="product-details">
                            <div class="product-title">
                                <p>SPORT SHOE</p>
                                <h3>NIKE</h3>
                            </div>
                            <div class="product-price">
                                <p><b>TK</b> &nbsp 1120</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



