
@{
    ViewBag.Title = "Product_details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--            product title big-->

<div class="product-title-big">
    <div class="container">
        <div class="row no-gutter">
            <div class="col-md-6">
                <h1>Apex deluxe casual for men</h1>
            </div>
            <div class="col-md-offset-4 col-md-2 hidden-sm hidden-xs">
                <p><a href="index.html">Home</a> > <a href="#">Men</a> > <a href="#">Casual</a></p>
            </div>
        </div>
    </div>
</div>



<div class="product-details-container">
    <div class="container">
        <div class="row no-gutter">
            <div class="col-lg-5 col-md-6">
                <div class="product-image-big">
                    <img src="~/img/product_image/big/1.jpg" class="img-responsive" alt="">
                </div>
                <div class="product-image-thumbnail-holder">
                    <div class="product-image-thumbnail">
                        <a href="#"><img src="~/img/product_image/thumbnails/1.jpg" alt=""></a>
                    </div>
                    <div class="product-image-thumbnail">
                        <a href="#"><img src="~/img/product_image/thumbnails/2.jpg" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-lg-offset-1 col-md-6">
                <div class="product-details-main">
                    <h4>Apex deluxe casual for men</h4>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown
                        printer took a galley.
                    </p>

                    <div class="product-data">
                        <ul style="list-style:none;padding-left:0px">

                            <li style="display:inline-block; padding-bottom:8px">
                                <div class="product-data-caption"><p style="margin-top:3px">Category</p></div>
                                <div class="product-data-info"><p>Casual</p></div>
                            </li>

                            <li style="display:inline-block; padding-bottom:8px">
                                <div class="product-data-caption"><p style="margin-top:3px">Size</p></div>
                                <div class="product-data-info">
                                    <div class="select-value">
                                        <select>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                        </select>
                                    </div>
                                </div>
                            </li>

                            <li style="display:inline-block; padding-bottom:8px">
                                <div class="product-data-caption"><p style="margin-top:3px;">Quantity</p></div>
                                <div class="product-data-info">
                                    <div class="select-value">
                                        <select>
                                            <option value="11">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                </div>
                            </li>

                            <li style="display:inline-block; padding-bottom:8px">
                                <div class="product-data-caption"><p style="margin-top:3px">Color</p></div>
                                <div class="product-data-info">
                                    <div class="select-value">
                                        <select>
                                            <option value="brown">Brown</option>
                                            <option value="white">White</option>
                                            <option value="black">Black</option>
                                        </select>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>

                    <div class="purchase-summary no-gutter">
                        <h4>Price</h4>
                        <h5>Taka 1250</h5>
                        <ul>
                            <li>Size: <b>12</b></li>
                            <li>Quantity: <b>1 Pair</b></li>
                            <li>Color: <b>White</b></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="checkout-button-area">
    <div class="container">
        <div class="row no-gutter">
            <div class="col-md-offset-6 col-md-6">
                <a href="#">
                    <div class="chekcout-button">
                        <p>Checkout</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>



<!--            product title big-->



